MONGO_URI=mongodb://<db_username>:LwqFbePXwVZ9iZm4@ac-mtxpjah-shard-00-00.8cj66fv.mongodb.net:27017,ac-mtxpjah-shard-00-01.8cj66fv.mongodb.net:27017,ac-mtxpjah-shard-00-02.8cj66fv.mongodb.net:27017/?ssl=true&replicaSet=atlas-s0pku0-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=TaskManager_Production_2026_A8xK92mQ7pL4
CLIENT_URL=http://localhost:5173
PORT=5000